/* pour tester bonne prise en compte (impose toutes les images encadrées en rouge)
img {
  border: 5px solid red !important;
}
*/

/* change le gras en un peu moins gras */
.page__content p strong,
.page__content li strong {
  font-weight: 550 !important;
}

/* cree des icones doi et hal avec une taille standard et alignés au texte */
img.doi-icon {
  height: 1em !important;
  width: auto !important;
  max-width: none !important;

  display: inline-block !important;
  vertical-align: text-bottom !important;

  margin: 0 !important;
  padding: 0 !important;
}


img.hal-icon {
  height: 1em !important;
  width: auto !important;
  max-width: none !important;

  display: inline-block !important; 
  vertical-align: sub !important;

  margin: 0 !important;
  padding: 0 !important;

}

/* pour virer le soulignement des url (pas sûr que ça marche bien) */
a {
  text-decoration: none;
}

a .hal-icon {
  text-decoration: none !important; /* supprime le soulignement des icônes DOI/ORCID/etc. */
}
a .doi-icon {
  text-decoration: none !important; /* supprime le soulignement des icônes DOI/ORCID/etc. */
}
a img {
  text-decoration: none !important;  /* désactive le soulignement sur les images cliquables */
  border-bottom: none !important;     /* certains thèmes ajoutent un border-bottom */
}

/* Justification du texte principal */
.article-content p,
.page__content p,
.main-content p {
  text-align: justify;
  hyphens: auto;
  line-height: 1.7;
  margin-bottom: 1.2em;
}
