
img.doi-icon {
  height: 1em !important;
  width: auto !important;
  max-width: none !important;

  display: inline-block;
  vertical-align: baseline;

  margin: 0;
  padding: 0;

  position: relative;
  top: -0.15em;
}


img.hal-icon {
  height: 1em !important;
  width: auto !important;
  max-width: none !important;

  display: inline-block;
  vertical-align: baseline;

  margin: 0;
  padding: 0;

  position: relative;
  top: 1em;
}

a {
  text-decoration: none;
}

a .hal-icon {
  text-decoration: none; /* supprime le soulignement des icônes DOI/ORCID/etc. */
}
a .doi-icon {
  text-decoration: none; /* supprime le soulignement des icônes DOI/ORCID/etc. */
}
a img {
  text-decoration: none;  /* désactive le soulignement sur les images cliquables */
}
